@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: hsl(238.7324 83.5294% 66.6667%);
  --chart-2: hsl(243.3962 75.3555% 58.6275%);
  --chart-3: hsl(244.5205 57.9365% 50.5882%);
  --chart-4: hsl(243.6522 54.5024% 41.3725%);
  --chart-5: hsl(242.1687 47.4286% 34.3137%);
  --sidebar: hsl(24.0000 5.7471% 82.9412%);
  --sidebar-foreground: hsl(217.2414 32.5843% 17.4510%);
  --sidebar-primary: hsl(238.7324 83.5294% 66.6667%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(292.5000 44.4444% 92.9412%);
  --sidebar-accent-foreground: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-border: hsl(24.0000 5.7471% 82.9412%);
  --sidebar-ring: hsl(238.7324 83.5294% 66.6667%);
  --font-sans: Outfit, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(240 4% 60%);
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 7.0588%;
  --foreground: 214.2857 31.8182% 91.3725%;
  --card: 240 10.4478% 13.1373%;
  --card-foreground: 214.2857 31.8182% 91.3725%;
  --popover: 240 10.4478% 13.1373%;
  --popover-foreground: 214.2857 31.8182% 91.3725%;
  --primary: 198.9130 82.1429% 78.0392%;
  --primary-foreground: 0 0% 6.6667%;
  --secondary: 335.6757 88.0952% 49.4118%;
  --secondary-foreground: 325.7143 63.6364% 97.8431%;
  --muted: 240 15.3846% 15.2941%;
  --muted-foreground: 217.8947 10.6145% 64.9020%;
  --accent: 269.4118 100.0000% 70%;
  --accent-foreground: 291.4286 100% 97.2549%;
  --destructive: 0 81.4433% 61.9608%;
  --destructive-foreground: 325.7143 30.4348% 9.0196%;
  --border: 0 0% 22.7451%;
  --input: 0 0% 22.7451%;
  --ring: 198.9130 82.1429% 78.0392%;
  --chart-1: hsl(198.9130 82.1429% 78.0392%);
  --chart-2: hsl(238.7324 83.5294% 66.6667%);
  --chart-3: hsl(335.6757 88.0952% 49.4118%);
  --chart-4: hsl(269.4118 100.0000% 70%);
  --chart-5: hsl(27.3171 97.6190% 49.4118%);
  --sidebar: hsl(240 10.4478% 13.1373%);
  --sidebar-foreground: hsl(214.2857 31.8182% 91.3725%);
  --sidebar-primary: hsl(198.9130 82.1429% 78.0392%);
  --sidebar-primary-foreground: hsl(0 0% 6.2745%);
  --sidebar-accent: hsl(335.6757 88.0952% 49.4118%);
  --sidebar-accent-foreground: hsl(325.7143 63.6364% 97.8431%);
  --sidebar-border: hsl(0 0% 22.7451%);
  --sidebar-ring: hsl(198.9130 82.1429% 78.0392%);
  --font-sans: Outfit, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}

.light {
  --background: hsl(0 0% 98%);
  --foreground: hsl(214 31% 14%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(214 31% 14%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(214 31% 14%);
  --primary: hsl(220 85% 45%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(335 85% 55%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(220 15% 95%);
  --muted-foreground: hsl(217 10% 40%);
  --accent: hsl(269 100% 70%);
  --accent-foreground: hsl(291 100% 10%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 88%);
  --input: hsl(0 0% 88%);
  --ring: hsl(220 85% 45%);
  --chart-1: hsl(220 85% 45%);
  --chart-2: hsl(238 83% 66%);
  --chart-3: hsl(335 88% 49%);
  --chart-4: hsl(269 100% 70%);
  --chart-5: hsl(27 97% 49%);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(214 31% 14%);
  --sidebar-primary: hsl(220 85% 45%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(335 85% 55%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(0 0% 88%);
  --sidebar-ring: hsl(220 85% 45%);
  --font-sans: Outfit, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}






@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}